# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python junk
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
.env

# Data / datasets (DO NOT COMMIT)
Dental Xrays/
data/

*.jpg
*.jpeg
*.png
*.JPG
*.JPEG
*.PNG

# CSVs you generate / download (DO NOT COMMIT)
*.csv

# Model artifacts / outputs (DO NOT COMMIT)
*.pt
*.pth
*.ckpt
chosen_threshold.txt
*.log
